* {
    margin: 0;
    padding: 0;
}
.parallax {
    background-image: url("../images/Homepaginafoto.png");
    height: 1000px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  

nav li {
    float: left;
    padding: 30px;
    margin-top: -130vw;
    list-style: none;
    text-align: center;
}

.bbq {
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    border-left: 5px solid silver;
    border-right: 5px solid silver;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: 20vw;
}
